.header {
  position: fixed;
  top: 0;
  left: 0;          
  width: 100%;
  height: 30px;
  
  padding: 26px;

  display: flex;
  align-items: center;

  background: #094b67;
  z-index: 1000;        /* above other elements */

      border-bottom: 3px solid #424242; /* linha fina cinza */

}
