.dropdownRow {
  display: flex;              
  gap: 30px;                  
  flex-wrap: wrap;            
  justify-content: center;     
  margin-top: 50px;           
}

.dropdown {
  position: relative;         
  min-width: 520px;           
  flex: f1;                    
}

.dropdownToggle {
  width: 100%;               
  padding: 14px 7px;        
  border-radius: 10px;       
  border: 1px solid #bbb;    
  background-color: #e5e7eb; 
  cursor: pointer;           
  text-align: left;           
  font-size: 1rem;           
  font-weight: 500;          
  color: #111111;            
  transition: all 0.2s ease; 
}

.dropdownToggle:hover {
  border-color: #2563eb;     
  color: #111111;            
}

.dropdownMenu {
  position: absolute;         
  top: 100%;                  
  left: 0;                    
  width: 100%;                
  background: #f9fafb;        
  border: 1px solid #ccc;     
  border-radius: 10px;        
  box-shadow: 0 6px 18px rgba(117, 117, 117, 0.08);
  margin-top: 6px;            
  z-index: 10;                
  display: flex;              
  flex-direction: column;     
  gap: 6px;                   
  padding: 6px 0;             

  max-height: 300px;
  overflow-y: auto;
}


.dropdownItem {
  padding: 12px 18px;        
  background: white;         
  border: none;              
  text-align: left;          
  cursor: pointer;           
  font-weight: 500;          
  border-radius: 6px;        
  color: #111111;            
  transition: background 0.2s ease, color 0.2s ease; 
}

.dropdownItem:hover {
  background-color: #2563eb; 
  color: white;              
}

h1 {
  font-size: 10rem;
  color: #111111;
  margin-bottom: 40px;
  font-weight: 1000;
  line-height: 1.2;
}


.valueInput {
  padding: 14px;            
  font-size: 1rem;          
  border-radius: 10px;      
  border: 1px solid #bbb;   
  width: 100%;              
  margin-bottom: 8px;       
  color: #111111;          
  background-color: #ffffff; 
  -moz-appearance: textfield;
}

.valueInput::-webkit-inner-spin-button,
.valueInput::-webkit-outer-spin-button {
  -webkit-appearance: auto;  
  margin: 0;                 
  color: #050667;            
}

.resultBox {
  padding: 5px 0;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  color: #111111;             
  background-color: #f3f4f6;  
  border-radius: 8px;
}



.resetButton {
  margin-top: 40px;         
  background-color: #ef4444; 
  color: white;             
  border: none;             
  width: 220px;             
  padding: 12px 0;          
  border-radius: 10px;      
  font-weight: 600;         
  cursor: pointer;          
  transition: all 0.2s ease; 
}

.resetButton:hover {
  background-color: #dc2626; 
  transform: translateY(-2px); 
}

.conversionRow {
  display: flex;            
  flex-direction: column;   
  gap: 15px;                
  margin-top: 20px;         
  max-width: 1085px;         
  width: 100%;              
  margin-left: 0px;        
  margin-right: auto;       
}
